<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="DynatraceCordova"
  version="1.0.0">
  <name>DynatraceCordova</name>
  <author href="http://heyday.dk">Heyday</author>
  <description>
  
  </description>
  <repo>https://github.com/Kimtho/dynatrace</repo>
  <issue>https://github.com/Kimtho/dynatrace/issues</issue>
  <license>Apache 2.0</license>
  <keywords>cordova, dynatrace</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
 <js-module src="www/dynatrace.js" name="dynatrace">
    <merges target="dynatrace" />
  </js-module>
  <!-- android -->
  <platform name="android">
    <framework src="com.dynatrace.agent:agent-android:8.221.1.1005"/>
    <source-file src="src/android/DynatraceCordova.java" target-dir="src/dynatrace" />
     <config-file target="res/xml/config.xml" parent="/*">
      <feature name="dynatracecordova">
        <param name="android-package" value="dynatracecordova"/>
      </feature>
    </config-file>

  </platform>

  <!-- ios -->
  <platform name="ios">
   
  </platform>

  


</plugin>
